// * {
//   box-sizing: border-box;
//   padding: 0;
//   margin: 0;
//   height: 100vh;
//   width: 100%;
// }
.main {
  height: 100vh;
  display: flex;
  width: 100%;
  // position: fixed;

  .left-container {
    padding: 1rem;
    width: 200rem;
    background-color: #0b2447e6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // overflow: auto;
    overflow: scroll;
    .style1 {
      display: none;
    }
    .style2 {
      display: block;
    }
    ::ng-deep {
      .divider1 {
        width: 100%;
        padding: 0.3rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.744);
      }
    }
  }

  .right-container {
    overflow: hidden;
    height: 100vh;
    // width: 35%;
    .section1 {
      height: 12rem;
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .section2 {
      height: calc(100% - 12rem);
      overflow-y: scroll;
      // background-color: #2d2727;
      // padding: 1rem 4rem;
      overflow-y: scroll;
      .option1 {
        height: 13rem;
        // background-color: red;
        .example-action-buttons {
          padding-bottom: 20px;
        }

        .example-headers-align .mat-expansion-panel-header-title,
        .example-headers-align .mat-expansion-panel-header-description {
          flex-basis: 0;
        }

        .example-headers-align .mat-expansion-panel-header-description {
          justify-content: space-between;
          align-items: center;
        }

        .example-headers-align .mat-form-field + .mat-form-field {
          margin-left: 8px;
        }
        .container {
          width: 100%;
          padding: 2rem 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          // background-color: red;
        }

        .radio-tile-group {
          border-radius: 0.3rem;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          padding: 0.5rem;
          background-color: white;
          border: 1px dotted gray;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        .radio-tile-group .input-container {
          position: relative;
          height: 80px;
          width: 80px;
          margin: 0.5rem;
        }

        .radio-tile-group .input-container .radio-button {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          margin: 0;
          cursor: pointer;
        }

        .radio-tile-group .input-container .radio-tile {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          border: 2px solid #079ad9;
          border-radius: 5px;
          padding: 1rem;
          transition: transform 300ms ease;
        }

        .radio-tile-group .input-container .icon svg {
          fill: #079ad9;
          width: 2rem;
          height: 2rem;
        }

        .radio-tile-group .input-container .radio-tile-label {
          text-align: center;
          font-size: 0.75rem;
          font-weight: 600;
          text-transform: uppercase;
          letter-spacing: 1px;
          color: #079ad9;
        }

        .radio-tile-group .input-container .radio-button:checked + .radio-tile {
          background-color: #079ad9;
          border: 2px solid #079ad9;
          color: white;
          transform: scale(1.1, 1.1);
        }

        .radio-tile-group
          .input-container
          .radio-button:checked
          + .radio-tile
          .icon
          svg {
          fill: white;
          background-color: #079ad9;
        }

        .radio-tile-group
          .input-container
          .radio-button:checked
          + .radio-tile
          .radio-tile-label {
          color: white;
          background-color: #079ad9;
          
        }
      }
    }
  }
}
