.section {
  width: 20rem;
  height: auto;
  position: relative;
  // text-align: center;
  // display: flex;
  //   overflow-y: scroll;
  ::ng-deep {
    .input-link {
      width: 20rem;
    }
    .select {
      width: 6rem;
    }
  }
}
